@page "/suppliers"
@inherits SuppliersBase

<h3>Suppliers</h3>

@if (SuppliersList != null)
{
    <MatTable Items="@SuppliersList" class="mat-elevation-z5 shorterTable">
        <MatTableHeader>
            <th>Company Name</th>
            <th>Contact</th>
            <th>City</th>
            <th>Region</th>
            <th>Home Page</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.CompanyName</td>
            <td>@context.ContactName</td>
            <td>@context.City</td>
            <td>@context.Region</td>
            <td>@context.HomePage</td>
        </MatTableRow>
    </MatTable>

}
else
{
    <p>Loading...</p>
}
