@page "/products"
@inherits ListProductsBase;
@using EBlocks.Interfaces;
@using EBlocks.NothWindsBlazorApp.Pages.Filters;
<h3>List Products</h3>

<ProductsFilter SourceData="@Products" @bind-FilteredData="@FilteredProducts" IsFilteringEnabled="@IsFilteringEnabled" />

@if (base.FilteredProducts != null)
{
    <p>Filtered</p>
    <ProductTable Data="@FilteredProducts" IsFilteredData="@IsFilteringEnabled" />

}
else
{

    @if (this.Products != null)
    {
        <p>As Is</p>

        <ProductTable Data="@Products" IsFilteredData="@IsFilteringEnabled" />
    }
    else
    {
        <p>Loading...</p>
    }
}

