@using EBlocks.Models;

@if (this.IsFilteredData)
{
    <h3>Filtered Product Data</h3>

    <MatTable Items="@Data" class="mat-elevation-z5 shorterTable">
        <MatTableHeader>
            <th> Product #</th>
            <th>Supplier</th>
            <th>Product Category</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units On Order</th>
            <th>Quantity Per Unit</th>
            <th>Discontinued</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ProductID</td>
            <td>@context.SupplierID</td>
            <td>@context.CategoryID</td>
            <td>@context.ProductName</td>
            <td>@context.UnitPrice</td>
            <td>@context.UnitsInStock</td>
            <td>@context.UnitsOnOrder</td>
            <td>@context.QuantityPerUnit</td>
            <td>@context.Discontinued</td>
        </MatTableRow>
    </MatTable>

}
else
{
    <h3>Product Table</h3>

    <MatTable Items="@Data" class="mat-elevation-z5 shorterTable">
        <MatTableHeader>
            <th>Product #</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units On Order</th>
            <th>Quantity Per Unit</th>
            <th>Discontinued</th>
            <th>Product Category</th>
            <th>Supplier</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ProductID</td>
            <td>@context.ProductName</td>
            <td>@context.UnitPrice</td>
            <td>@context.UnitsInStock</td>
            <td>@context.UnitsOnOrder</td>
            <td>@context.QuantityPerUnit</td>
            <td>@context.Discontinued</td>
            <td>@context.CategoryID</td>
            <td>@context.SupplierID</td>
        </MatTableRow>
    </MatTable>
}


@code {

    [Parameter] public bool IsFilteredData { get; set; }

    [Parameter] public IEnumerable<Product> Data { get; set; }

}
