
@page "/categories"
@inherits CategoryListBase;
<h3>Category List</h3>


@if (CategoriesList != null)
{
    <MatTable Items="@CategoriesList" class="mat-elevation-z5 shorterTable">
        <MatTableHeader>
            <th>Category Name</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Category ID</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.CategoryName</td>
            <td>@context.Picture</td>
            <td>@context.Description</td>
            <td>@context.CategoryID</td>
        </MatTableRow>
    </MatTable>

}
else
{
    <p>Loading...</p>
}

